
@media (min-width: 768px) {
  .container {
    max-width: 960px;
  }
}

h1, h2, h3, h4, h5 {
  font-family: 'PT Sans Narrow';
}

.panel h3 {
  margin-top: 0;
}
.panel .panel-body {
  padding: 20px;
}

.top-header {
  height: 100px;
  padding-top: 25px;
}

.navbar a.page-title { 
  font-family: 'PT Sans';
  font-size: 30px;
  font-weight: bold;
  height: auto;
  color: #059;
}
.navbar a.page-title:hover {
  color: #037;
}

a.page-title .page-subtitle {
  font-size: 17px;
  font-weight: normal;
  color: #bbb;
  display: inline-block;
  vertical-align: top;
  padding-left: 20px;
  margin-left: 10px;
  border-left: #bbb solid 1px;
}

.navbar .top-nav li a:hover {
  background: #fcfcfc;
  color: #047;
}

.search-catalog {
  margin-bottom: 10px;
}
.search-catalog .clear {
  margin-bottom: 10px;
}
.search-catalog .form-control {
  width: 280px;
}
.search-catalog .radio {
  margin-right: 5px;
}

footer {
  margin: 40px 0;
  padding: 20px 0;
  border-top: #eee solid 1px;
}

/* user top panel */

.user-box {
  overflow: hidden;
  position: relative;
  min-width: 350px;
  top: -5px;
}
.user-box .thumb {
  float: left; 
  width: 60px; 
  height: 60px;
  margin-right: 20px;
  background: transparent;
  overflow: hidden;
  text-align: center;
  vertical-align: middle;
}
.user-box p { 
  margin: 4px 0; 
}
.user-box .nick {
  color: #059;
}

/* artist thumb box */

.artist-box {
  overflow: hidden;
  background: #f7f7f7;
  padding: 5px;
  border-top: #ddd dotted 1px;
  border-bottom: #ddd dotted 1px;
  margin-bottom: 5px;
}
.artist-box .thumb {
  float: left; 
  margin-right: 20px;
  background: transparent;
  width: 80px;
  height: 75px;
  text-align: center;
  vertical-align: middle;
}
.artist-box p {
  margin: 4px 0;
}
.artist-box .nick a {
  font-weight: bold;
  color: #059;
}
.artist-box .nick a:hover {
  color: #27b;
  text-decoration: none;
}
.artist-box .instrument {
  color: #777;
}
.artist-box .place {
  color: #aaa;
}

#login_info .label {
  vertical-align: bottom;
}

.pagination .current a {
  background: #eee;
  color: #777;
}

.table td {
  vertical-align: middle !important;
}

.ad-box {
  overflow: hidden;
  background: #f7f7f7;
  padding: 5px;
  border-top: #ddd dotted 1px;
  border-bottom: #ddd dotted 1px;
  margin-bottom: 5px;
}
.ad-box .thumb {
  float: left; 
  margin-right: 20px;
  background: transparent;
  width: 80px;
  height: 75px;
  text-align: center;
  vertical-align: middle;
}
.ad-box p {
  margin: 4px 0;
}
.ad-box .nick a {
  color: #555;
}